<div class="row">
        <div class="mycolumn col s6 m6 l3 offset-l3 ">
          <a href="/admin" class="btn btncolor">Home</a>
        </div>
        <div class="mycolumn col s6 m6 l3 ">
                <a href="/admin/gc" class="btn btncolor">GC</a>
              </div>
              
      </div>
      <div>&nbsp;</div>
        
<div class="row">
        <div class="mycolumn col s6 m6 l3 offset-l3 ">
          <a href="/admin/eDetails" class="btn btncolor">Events</a>
        </div>
    
        <div class="mycolumn col s6 m6 l3">
          <a href="/admin/rDetails" class="btn btncolor">Receipt</a>
        </div>
      </div>
      <div>&nbsp;</div>
      <div class="row">
          
          <div class="mycolumn col s6 m6 l3 offset-l3 ">
                <a href="/admin/allevent" class="btn btncolor">Export</a>
              </div>
          <div class="mycolumn col s6 m6 l3">
            <a href="/admin/attendance" class="btn btncolor" disabled>Attendance</a>
          </div>
        </div>
        <div>&nbsp;</div>
        