<link rel="icon" href="/images/arcs_logo.png">
<div class="shape overlay">
    <img id="eventlogo" src="/images/arcs_logo.png" />
  </div>
  <div>
    <a class="logout" href="/logout"> Logout</a>
  </div>

  <div>
    <img class="chapterlogo" src="/images/IEEECSlogo.png" />
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="row">
    <div class="mycolumn col s4 m4 l2 offset-l3 ">
      <a href="/user/profile" class="btn btncolor">Profile</a>
    </div>

    <div class="mycolumn col s4 m4 l2 ">
      <a href="/user/event" class="btn btncolor">Events</a>
    </div>

    <div class="mycolumn col s4 m4 l2">
      <a href="/user/receipt" class="btn btncolor">Receipt</a>
    </div>
  </div>
  <div>&nbsp;</div>