<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ARCS'19</title>

    <!-- links -->
    <link href="https://fonts.google.com/?selection.family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/error.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="icon" href="/images/arcs_logo.png">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="overlay">
        <img class="chapterlogo" src="/images/IEEECSlogo.png">
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="mycontainer1">
        <div>&nbsp;</div>
        <img id="warning" src="/images/warning.png" >
           </div>
           <div>&nbsp;</div>
           <div class="mycontainer2">
                <h3>
                        <b>OOPS... ERROR</b>
                        </h3>
                        <h5>
                            <%= message %>
                        </h5>
                        <div>&nbsp;</div>
           </div>
        
</body>
</html>