<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href="/images/arcs_logo.png">
    <!-- <script src="js/eventReg.js"></script> -->
    <style>
    body {
      text-align: center;
    }
    </style>
</head>

<body >
            <section class="section">
                <div class="container">
                  <h1 class="title is-2 has-text-centered">Payment Failed :(</h1>
                  <h4 class="title is-5 has-text-centered">Please try again</h4>
                  <br>
                    <div class="button is-primary" onclick="window.location.href='/user/event'">
                        Return to home
                    </div>
            </section>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113479387-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113479387-2');
</script>
</html>
