<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ARCS'19</title>

    <!-- links -->

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/profile.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />

    <!-- Scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"
    ></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/js/gc.js"></script>
    <style>
    .bar{
      width:50%;
      margin:auto;
    }
      @media(max-width:1000px)
      {
        .bar{
          width:80%;
        }
        .box{
          width:80%;
        }
      }
      @media(max-width:640px){
        .box{
          width:100%;
        }
      }
      @media(max-width:340px){
        .card{
          width:90% !important;
          margin: auto;
        }
      }
    input{
      color: white;
      cursor: pointer;
    }
    .searchContent{
      color: #202020;
      cursor: pointer;
      padding: 2%;
    }
    .searchContent:hover{
      background-color: #dcdcdc;
    }
    ::placeholder{
      color: white;
    }
    .box{
      background-color: white;
      padding:2%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin: auto;
    }
    .box2{
      background-color: white;
      padding: 2%;
      width: 60%;
      border-radius: 20px;
    }

    .card{
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  .second{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 0 !important; 
    border-top-left-radius: 0 !important;
  }
  input.select-dropdown{
    color: #202020 !important;
  }
  span{
    color: #202020 !important;
  }
  .accomodation{
    width:270px;
    text-align: left !important;
    margin: auto;
  }
    </style>
  </head>

  <body>
    
    <link rel="icon" href="/images/arcs_logo.png">
    <div class="shape overlay">
        <img id="eventlogo" src="/images/arcs_logo.png" />
      </div>
      <div>
        <a class="logout" href="/logout"> Logout</a>
      </div>
    
      <div>
        <img class="chapterlogo" src="/images/IEEECSlogo.png" />
      </div>
      <div>&nbsp;</div>
      
      <div>&nbsp;</div>
      
    <h1 align="center" class="title">Guest Care</h1>
        <%- include partials/adminnav %>
        <%- include partials/searchbar %>

      <div class="card second"  >
          
          <div class="mycontainer"  ng-init="ini(<%=JSON.stringify(message)%>)">
          
              <div class="row center" ng-if="searchString"> 
                  <a href="#" ng-click="redir()" class="btn btncolor">Get Receipt</a>
            </div>
          <div class="input-field"style="width:170px;margin: auto;">
              <select class="select1"  ng-model="x" >
                <option value="" disabled selected>Entry/Exit</option>
                <option value="entry">Entry</option>
                <option value="exit">Exit</option>
              </select>
            </div>
          <br>

          <div ng-if="x=='entry'" class="center override" ng-cloak>
          <p><b>Need Accomodation?</b></p>
          <p>

              <label>
                  <input name="group1" ng-click="y='no'"  type="radio" />
                  <span>No</span>
                </label>
                &nbsp;&nbsp;
              <label>
                <input name="group1" ng-click="y='yes'" type="radio"/>
                <span>Yes</span>
              </label>
            
          </p>

          <div class="accomodation" ng-if="y=='yes'">

              <div class="row center">
                  <p><b>Payment Mode</b></p>
                <p>
                    <label>
                        <input name="group2" ng-click="offline()" type="radio"/>
                        <span>Cash</span>
                      </label>

                      &nbsp;&nbsp;
                    
                    <label>
                        <input name="group2" ng-click="online()"  type="radio" />
                        <span>Card</span>
                      </label>
                </p>
              </div>


              <div class="row" ng-if="mode=='online'">
                  <div class="col s3">
                    <p><b>Trans. Id</b></p>
                  </div>
                  <div class="col s9">
                    <input type="text" class="black-text" ng-model="transactionId" >
                  </div>
                </div>


            <div class="row">
            <div class="col s3">
              <p><b>From:</b></p>
            </div>
            <div class="col s9">
              <input type="date" class="black-text" ng-model="from" >
            </div>
          </div>
          
          <div class="row">
              <div class="col s3">
                <p><b>To:</b></p>
              </div>
              <div class="col s9">
                <input type="date" class="black-text" ng-model="to" >

              </div>
            </div>



            <div class="row" >
                <div class="col s3">
                  <p><b>Box Id</b></p>
                </div>
                <div class="col s9">
                  <input type="number" class="black-text" ng-model="boxId" >
                </div>
              </div>

              <div class="row center" ng-if="to" ng-class="calculate(from,to,transactioId,boxId)">
                  <p><b>Total Amount:&nbsp;&nbsp;</b>{{total}}</p>
                </div>
    
    
            
            <div class="row center" ng-if="to" ng-class="calculate(from,to)">
                  <a href="#" ng-click="entry(transactioId,boxId)" class="btn btncolor">Submit</a>
            </div>
            
            

          </div>

      </div>

      <div ng-if="x=='exit'" class="center override" ng-cloak>
          <div class="row center">
              <p><b>Damages?</b></p>
            <p>
                <label>
                    <input name="group3" ng-click="nodamage()" type="radio"/>
                    <span>No</span>
                  </label>

                  &nbsp;&nbsp;
                
                <label>
                    <input name="group3" ng-click="damag()"   type="radio" />
                    <span>Yes</span>
                  </label>
            </p>
          </div>

          <div class="row center" ng-if="submit2">
            
          <a href="#" ng-click="exit()" class="btn btncolor">Submit</a>
          </div>



        </div>
    </div>
    </div>
  </div>

  <div>&nbsp;</div>

  <div>&nbsp;</div>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>      
      
      $(document).ready(function(){
    $('.select1').formSelect();
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
          
    </script>
  </body>
</html>
