<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ARCS Portal">
        <meta name="author" content="Prerna Sultania">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="receipts.css">
    </head>
    <body style="background-color:#333333;">
        <!-- <div class="shape3-wrap"> -->
            <div class="cont" style="float:left;">
                <img src="arcs.png" class="arcs">
            </div>
            <div class="shape3">
                

                <div class="tabs" style="float:left; padding-left:100px; padding-top:30px;">
                    <span>
                        <button
                        style="background-color: #333333; color: #faa41a;"
                          class="btn waves-effect waves-light"
                          type="submit"
                          name="action"
                          value="profile"
                          onclick="add(this)"
                        >
                          PROFILE
                        </button>
                    </span>
                    <span>
                        <button
                        style="background-color: #333333; color: #faa41a;"
                        class="btn waves-effect waves-light"
                        type="submit"
                        name="action"
                        value="events"
                        onclick="add(this)"
                    >
                      EVENTS
                        </button>
                    </span>
                    <span>
                        <button
                        style="background-color: #333333; color: #faa41a;"
                        class="btn waves-effect waves-light"
                        type="submit"
                        name="action"
                        value="receipts"
                        onclick="add(this)"
                    >
                      RECEIPTS
                    </button>
                    </span>
                    <span>
                        <button
                        style="background-color: #333333; color: #faa41a;"
                        class="btn waves-effect waves-light"
                        type="submit"
                        name="action"
                        value="change pwd"
                        onclick="add(this)"
                    >
                      CHANGE PWD?
                    </button>
                    </span>
                    </div>
            </div>
        <!-- </div> -->
        <div>
            <img src="IEEECS.png" class="logo">
        </div>
        <div class="shape4">
          
        </div>
      </body>
    </html>
        