<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ARCS'19</title>

    <!-- links -->

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/receipts.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="/js/receipt.js"></script>

    
</head>

<body ng-app="homeApp" ng-controller="eventCtrl" ng-init="initialize(<%=JSON.stringify(data)%>)">

        <%- include partials/nav %>

    <h1 align="center" class="title">Receipts</h1>


    <div class="card">
        <div class="content">
            <h4  ng-show="details.length == 0" class="center">No receipts are generated yet.</h4>
            <table class="striped" ng-show="details.length > 0">
                <thead>
                    <tr>
                        <th>Receipt Id</th>
                        <th>Event name</th>
                        <th>Event fee</th>
                        <th>Transaction date</th>
                        <th>Payment Status</th>
                        <th>Payment Mode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in details">
                        <td>{{detail.id}}</td>
                        <td ><span ng-repeat="x in detail.name">{{ x }}<br> </span></td>
                        <td>Rs. {{ detail.fee }}</td>
                        <td> {{ detail.date | date : 'dd-MMM-yyyy' }}</td>
                        <td ng-class="detail.paidbool == 'true' ? 'paid' : 'pending'">{{detail.paid}}</td>
                        <td>{{detail.type}}</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<script>
  
  
  </script>
  
    </body>
    </html>

