@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.body{
    background-color: #333333;
    
}
.cont {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 25px;
    margin-top: 25px;
    display: inline-block;
    z-index:1;
  }
  
.arcs {
    height: 30px;
    margin-left: 8px;
    margin-top: 8px;
  
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.shape3{
    /* position: fixed; */
    background-color: #faa41a;
    height: 100px;
    width: 80%;
    top: 0;
    z-index: -101 !important;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
  }
  .btn {
    /* background-color: #333333 !important;  */
    /* margin: 10.5rem -2px 0rem -3px !important; */
    align-self: center;
    /* color: #faa41a !important;  */
    font-weight: bold;
    border-radius: 10px !important;
    padding: 5px 29px !important;
    margin-left: 30px;
    margin-top: 0px;
    /* display: inline-block; */
  }
  .tab{
    margin-top: 20px;
    margin-left: 100px;
}
.logo{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 53px;
    width: auto;
    margin-top: 30px;
    margin-right: 10px;
}
@media screen and (max-width:1119px){
    .shape3{
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    

/* @media screen and (max-width:1119px){ */
    .logo{
        display: none;
    }
}
    
/* } */
@media screen and (max-width: 800px){
    .tabs{
        width: 100%;
        display: flex !important;
        flex-wrap: wrap !important;
        padding: 0px !important;
        margin-top: 10px;
    }
    .tabs button{
        width: 85% !important;
        font-size: 0.67em;
    }
    .shape3 span{
        flex-basis:50% !important;
        padding: 5px;
    }
    
    .shape3 span{
        text-align: center;
    }
    .btn{
        margin-left:0px !important;
        padding: 5px 11px !important;
    }
    .cont{
        position: absolute !important;
        left: 50%;
        top: 50px;
        z-index: 100;
        transform: translate(-50%,-50%);
        margin: 0px !important;
    }
}
.selected {
    background: #202020 !important;
    color: #faa41a;
    border-radius: inherit;
  }
.unselected {
    background: #faa41a !important;
    color: black;
    border-radius: inherit;
  }
.content p {
    font-weight: 500 !important;
  }
/* .myrow{
    width: 100%;
    margin-top: 150px;
    margin-left: 40px;
  } */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
}
.mycolumn{
    flex-basis: 30%;
    /* justify-content: space-around !important; */
    margin-top: 50px;
}
.card{
    padding: 15px;
}
@media screen and (max-width:1119px){
    .mycolumn{
        flex-basis: 40%;
    }
}
@media screen and (max-width:800px){
    .mycolumn{
        flex-basis: 90%;
    }
    .card{
        width: 350px;
        margin: auto;
    }
}
@media screen and (max-width:400px){
    .card{
        width: 100% !important;
    }
}
.register{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.text{
    margin-top: 30px;
}
.eventname{
    border-left: #333333 solid 7px !important;
    padding-left: 15px;
    color: #faa41a;

}
